{% extends 'mainapp/__base.html' %}
{% load staticfiles %}

{% block title %}
    <title>HTML LIST</title>
{% endblock %}

{% block style %}


{% endblock %}
{% block script_1 %}
{% endblock %}

{% block content %}
    <div class="row p-4 pt-5">
    <div class="col-12">
        <p class="font-weight-bold h4">CSS 학습 리스트</p>
        <p class="text-dark">새로 추가하실 페이지 를 자유롭게 추가 수정 하세요(일단 HTML 페이지로 링크되어있습니다)</p>
    </div>
        <div class="col-3">
            <div class="card">
                <div class="view overlay">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">AJAX to inner div</h5>
                    <h6 class="card-subtitle mb-2 text-muted">jquery AJAX to DIV</h6>
                    <p class="card-text">에디터의 내용을 ajax를 이용하여 다른 div로 jquery html update를 이용한 에디터 결과 예시</p>
                    <a href="{% url 'html_editor1' %}" class="btn btn-secondary">Let's go!</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="view overlay">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">AJAX to inner div</h5>
                    <h6 class="card-subtitle mb-2 text-muted">jquery AJAX to DIV</h6>
                    <p class="card-text">에디터의 내용을 ajax를 이용하여 다른 div로 jquery html update를 이용한 에디터 결과 예시</p>
                    <a href="{% url 'html_editor1' %}" class="btn btn-secondary">Let's go!</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="view overlay">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">AJAX to inner div</h5>
                    <h6 class="card-subtitle mb-2 text-muted">jquery AJAX to DIV</h6>
                    <p class="card-text">에디터의 내용을 ajax를 이용하여 다른 div로 jquery html update를 이용한 에디터 결과 예시</p>
                    <a href="{% url 'html_editor1' %}" class="btn btn-secondary">Let's go!</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="view overlay">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">AJAX to inner div</h5>
                    <h6 class="card-subtitle mb-2 text-muted">jquery AJAX to DIV</h6>
                    <p class="card-text">에디터의 내용을 ajax를 이용하여 다른 div로 jquery html update를 이용한 에디터 결과 예시</p>
                    <a href="{% url 'html_editor1' %}" class="btn btn-secondary">Let's go!</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script_2 %}

{% endblock %}

{% block script_3 %}

{% endblock %}
